body {
  margin: 0;
  background: rgb(0,3,68);
background: -moz-linear-gradient(180deg, rgba(0,3,68,1) 35%, rgba(112,0,214,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,3,68,1) 35%, rgba(112,0,214,1) 100%);
background: linear-gradient(180deg, rgba(0,3,68,1) 35%, rgba(112,0,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000344",endColorstr="#7000d6",GradientType=1);
  text-align: center; /* makes the text in the center */
  h1 {
    color: white;
  }
  p {
    color: white;
  }
  ::-moz-selection { /* code for Firefox */
  color: black;
  background: white;
}

::selection { /* code for other browsers */
  color: black;
  background: white;
}
p {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
}

