body {
  margin: 0;
  background: rgb(0,3,68);
background: linear-gradient(180deg, rgba(0,3,68,1) 35%, rgba(112,0,214,1) 100%); /* gradient stuff */
  text-align: center; /* makes the text in the center */
  h1 {
    color: white;
  }
  p {
    color: white;
  }
  ::-moz-selection { /* code for Firefox */
  color: black;
  background: white;
}

::selection { /* code for other browsers */
  color: black;
  background: white;
}
}
